.vscode/
.env
.github/copilot-instructions.md
documents/.well-known/appspecific/com.chrome.devtools.json
documents/video
documents/images
documents/audio
# symlink these to user equivalents directories
