{
	frankenphp
}

:80 {
	root * public
	encode br zstd gzip

	#@blocked path /tools/*
	#respond @blocked "403 no peeking 👁️❌" 403

	handle_errors {
		@any_error {
			expression {http.error.status_code} >= 400
		}
		rewrite * /error.php?code={http.error.status_code}
		php_server
	}

	php_server
}

# run with `sudo frankenphp run` or `sudo frankenphp start` in this directory
# finds Caddyfile and php.ini in the current directory

# makes the server available on the local network, can be accessed on this devices ip hostname -I or a $hostname.local dns with dnsmasq
