# © 2025 Chitch-Maintainers, Licensed under the EUPL

# 🛑 Error Pages
ErrorDocument 400 /session/error.php?code=400
ErrorDocument 401 /session/error.php?code=401
ErrorDocument 403 /session/error.php?code=403
ErrorDocument 404 /session/error.php?code=404
ErrorDocument 500 /session/error.php?code=500

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 🔐 Force HTTPS for PHP files
    RewriteCond %{HTTPS} !=on
    RewriteCond %{REQUEST_URI} \.php$ [NC]
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


    # Route if custom style exists
    RewriteCond %{REQUEST_URI} ^/chitch.css$
    RewriteCond %{DOCUMENT_ROOT}/upload/style.css -f
    RewriteRule ^chitch.css$ /upload/style.css [L]

    # ✨ Query Shortcuts
    RewriteCond %{REQUEST_URI} ^(/)$
    RewriteCond %{QUERY_STRING} ^(blog)$ [NC]
    RewriteRule ^ /news/ [L,R=301]

    RewriteCond %{REQUEST_URI} ^(/)$
    RewriteCond %{QUERY_STRING} ^edit=(.*)$ [NC]
    RewriteRule ^ /tool/editor.php?edit=%1 [L,R=301]
</IfModule>

<IfModule mod_headers.c>
    # 🧠 Cache Control for static files (1 year)
    <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css|svg|br|woff2?)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>

<IfModule mod_brotli.c>
    <IfModule mod_rewrite.c>
        # 🗜 Serve Brotli compressed files if available
        RewriteCond %{HTTP:Accept-Encoding} br
        RewriteCond %{REQUEST_FILENAME}.br -f
        RewriteRule ^(.*)$ $1.br [QSA]
    </IfModule>

    <IfModule mod_mime.c>
        # 💨 Tell browsers what .br is
        AddEncoding br .br
    </IfModule>
</IfModule>

<IfModule mod_php.c>
    # 🐘 PHP Logging, Specifically for Hetzner
    php_flag log_errors on
    php_value error_log /usr/home/chitch/php.log
</IfModule>

# Early Hints (https://developer.chrome.com/docs/web-platform/early-hints) not supported by Shared Hosting

# Manual: https://httpd.apache.org/docs/2.4/
# Snippets: https://github.com/phanan/htaccess
