# © 2025 Chitch Contributors, Licensed under the EUPL

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 🔐 Force HTTPS for PHP files
    RewriteCond %{HTTPS} !=on
    RewriteCond %{REQUEST_URI} \.php$ [NC]
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # only if requested path does NOT exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # redirect everything else to /index.php
    RewriteRule ^ /index.php [L]
</IfModule>

<IfModule mod_headers.c>
    # 🧠 Cache Control for static files (1 year)
    <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css|svg|br|woff2?)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>

<IfModule mod_php.c>
    # 🐘 PHP Logging, Specifically for Hetzner
    php_flag log_errors on
    php_value error_log /usr/home/chitch/php.log
</IfModule>

# Early Hints (https://developer.chrome.com/docs/web-platform/early-hints) not supported by Shared Hosting

# Manual: https://httpd.apache.org/docs/2.4/
# Snippets: https://github.com/phanan/htaccess
