/* © 2025 Chitch Contributors */

:root {
  color-scheme: light dark;

  /*https://www.cssfontstack.com/*/
  --header-font-stack: Georgia, "Times New Roman", Times, serif;
  --body-font-stack: Verdana, Tahoma, Arial, sans-serif;
  --monospace-font-stack: "Courier New", "Courier" monospace;

  --text-padding: 0.8em;
  --line-length: 37em;
  --leading: 1.4em;
  --stroke: 0.1em;
}

@media print {
  * {
    background: none;
    filter: greyscale(100%);
  }
}

@media (min-aspect-ratio: 1.11802349) {}

html {
  scroll-behavior: smooth;

  --clear: light-dark(hsl(160, 44%, 49%), hsl(160, 44%, 20%));
  --empty: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
  --neutral: light-dark(hsl(0, 0%, 93%), hsl(0, 0%, 20%));
  --checker: light-dark(hsl(0, 0%, 87%), hsl(0, 0%, 25%));
  --font-color: light-dark(hsl(237.39deg 66.99% 20.2%), hsl(237.39deg 66.99% 80%));
  /*interactable*/
  --accent: light-dark(hsl(347, 80%, 54%), hsl(347, 66%, 40%));
  --interacted: light-dark(hsl(335, 63%, 35%), hsl(335, 63%, 60%));
  --accent-background: light-dark(hsl(238, 47%, 87%), hsl(238, 47%, 20%));
  --end: light-dark(hsl(226, 69%, 79%), hsl(226, 69%, 30%));
  --shadow: light-dark(hsl(26deg 67.84% 95.17%), hsl(26deg 67.84% 20%));
  --mark1: light-dark(hsl(210, 48%, 49%), hsl(210, 48%, 70%));
  --mark2: light-dark(hsl(350, 76%, 84%), hsl(350, 76%, 30%));
  --mark3: light-dark(hsl(2, 54%, 56%), hsl(2, 54%, 40%));
}

body {
  font-family: var(--body-font-stack);
  /*1em/var(--leading) */
  accent-color: var(--accent);
  color: var(--font-color);
  margin: 0;
  background: var(--accent-background);
  background: url("http://cdn.chitch.org/bubbles.svg"), var(--accent-background);
  background: url("http://cdn.chitch.org/bubbles.svg"), linear-gradient(to bottom right, var(--accent-background), var(--end));
  /* scroll */
  background-attachment: fixed;
  margin: 0 auto;
  /*max-width: 50em;*/

  caret-color: var(--accent);
  caret-shape: underscore;
}


body {
  &::before {
    content: "Chitch © ༄˖°.🍂.ೃ࿔*";
    display: block;
    font-size: 2em;
    font-style: bold;
    font-family: var(--header-font-stack);
    color: var(--accent);
    text-align: center;
    background: linear-gradient(to top, transparent, var(--neutral));
  }

  &::after {
    background: linear-gradient(to bottom, transparent, var(--neutral));
  }

  &::after {
    content: url('icon.svg');
    position: fixed;
    bottom: 0.1em;
    right: 0.1em;
    opacity: 0.5;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    transform: scale(0.1);
    transform-origin: bottom right;
  }
}

@supports (scrollbar-width: auto) {
  html {
    scrollbar-color: var(--accent) var(--accent-background);
    scrollbar-width: auto;
  }
}

header,
footer {
  background: var(--accent-background);
  background: url("http://cdn.chitch.org/bubbles.svg"), var(--accent-background);
  background: url("http://cdn.chitch.org/bubbles.svg"), linear-gradient(to bottom right, var(--accent-background), var(--end));
}

header,
main,
footer,
aside {
  padding: 2em 2vw;
}

main {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  background: var(--neutral);
}

aside {
  border-left: solid 0.4em var(--checker);
}

details {
  padding-left: 2em;
}

p,
blockquote {
  max-width: var(--line-length);
  line-height: var(--leading);
  padding: var(--text-padding);
  margin: 0.2em;
}

body > footer {
  min-height: 93vh;
}

a {
  /*color: var(--font-color);*/
  font-weight: bold;
  word-break: break-word;
  text-decoration: underline;
  /*overline*/
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 2px solid var(--accent);
  }

  &:link {
    text-decoration: underline var(--accent);
  }

  &:visited {
    text-decoration: overline var(--interacted);
  }

  &[href^="https://"]::after {
    content: "↗";
  }

  &[target="_blank"]::after {
    content: "↗";
  }
}


nav {
  & li {
    padding: 0.15em;
    &::before {
      content: "📌 ";
    }

    a:visited::after {
      content: "✔️"
    }
  }

  & ol {
    counter-reset: nav-item;
    /* Global list item counter */
    list-style-type: none;

    li {
      counter-increment: nav-item;
    }

    li::before {
      content: counters(nav-item, ".") " ";
      /* Display custom numbering */
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
code {
  text-wrap: balance;
  margin: 0.2em;
  font-family: var(--header-font-stack);
  /* background: var(--checker); */
}

pre,
code {
  font-family: var(--monospace-font-stack);
}

code:not(:has(*)),
quote,
blockquote,
dt {
  user-select: all;
  cursor: copy;
  /*text*/
}

section[id] h1:first-of-type::after,
section[id] h2:first-of-type::after,
section[id] h3:first-of-type::after,
section[id] h4:first-of-type::after,
section[id] h5:first-of-type::after,
section[id] h6:first-of-type::after {
  content: "#";
  margin-left: 0.5em;
  color: var(--accent);
}

.spoiler {
  user-select: all;
  color: var(--font-color);
  text-shadow: 0 0 var(--font-color);
  background: var(--font-color);
  overflow-x: scroll;
}

code:not(pre > *) {
  background-color: var(--accent-background)
}

.shell::before {
  content: '$';
  margin-right: 5px;
  color: #999;
  /* A lighter color to indicate the prompt */
}

table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  border: var(--stroke) solid var(--accent);

  & tr:nth-child(even) {
    background: var(--checker);
  }

  & td {
    padding: 0.1em 0.3em;
    cursor: cell;
  }
}
img,
table,
video,
iframe,
figure,
textarea,
object,
svg {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

table,
video,
iframe,
figure,
textarea,
object,
svg {
  background-color: var(--neutral);
  border: var(--stroke) solid var(--accent);
  padding: var(--text-padding);
  margin: 0.2em;
}

img.external {
  border: 1rem solid whitesmoke;
}

/* Fibonnaci / Golden ration increase */
h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

main section,
details {
  overflow-x: auto;
  border-left: dashed var(--accent-background);
  padding-left: 1em;
}

p {
  text-align: justify;
  text-shadow: 0 1px var(--shadow);

  font-size: 1em;
  hyphens: auto;
  /*margin-bottom: 1.2em;*/
  text-wrap: pretty;
}

.condense p+p {
  text-indent: 2em;
}


form {
  & p {
    display: flex;

    input,
    button,
    textarea {
      flex-grow: 1;
    }
  }

  & label {
    display: block;
    padding: var(--text-padding);
  }
}


nav,
button,
audio,
video,
a,
thead,
::selection,
summary {
  background: var(--accent-background);
  cursor: pointer;
}

audio {
  box-sizing: border-box;
  padding: 0.3em;
  width: 100%;
}

ol,
ul {
  padding-left: 1.631em;
}

img:hover {
  box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.2);
}

button {
  border-radius: 60% 30% / 50% 70%;
  padding: 0.8em;
  text-align: center;
  border: var(--stroke) var(--font-color) solid;

  transition: background-color 0.2s;

  &.icon {
    padding: 0;
    border: none;
    background: var(--font-color);
  }

  &:hover {
    background-color: var(--accent);
    transform: translateY(-0.05em);
  }
}

ul {
  list-style: none;

  & li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  & li:nth-of-type(7n + 1):before {
    color: green;
  }

  & li:nth-of-type(7n + 4):before {
    color: purple;
  }
}


pre {
  background-color: var(--checker);
  padding: 1em;
  tab-size: 2;
  /*overflow-x: scroll;*/
  overflow-x: auto;
}

figure {
  box-shadow: 10px 5px 5px var(--checker);
  border: solid 3px var(--checker);
  padding: 0.4em;
  margin: 0.2em;
}

article {
  display: flow-root;
  background-color: var(--checker);
  padding: var(--text-padding);
}

article,
figure,
form,
aside,
blockquote {
  break-inside: avoid-column;
}

abbr,
dt {
  font-style: italic;
  color: var(--accent);
}

dt::after {
  content: ": ";
}

blockquote {
  background-color: var(--checker);
  border-left: var(--stroke) solid var(--accent-background);
}

mark {
  background-color: var(--accent-background);
  box-decoration-break: clone;
}

input:user-valid+label::before {
  content: "âœ“";
  color: green;
}

input:user-invalid {
  border: 2px solid red;
}

input:user-invalid+label::before {
  content: "âœ–";
  color: red;
}

:out-of-range {
  border: solid 3px var(--accent);
}

:focus {
  background-color: var(--accent-background);
}

:autofill {
  border: 3px solid var(--accent);
}


abbr[title]::after {
  content: " (" attr(title) ")";
}

:target {
  border: var(--stroke) solid var(--accent);
  background-color: var(--accent-background);
}

input:required {
  background-color: var(--accent-background);
}

::selection {
  background: var(--accent-background);
  color: var(--accent);
}

::spelling-error {
  text-decoration: wavy var(--accent);
}

::grammar-error {
  text-decoration: wavy var(--accent-background);
}

:checked {
  animation: checkboxAnimation 0.5s ease-in-out;
}

@keyframes checkboxAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

img {
  & .reyes {
    filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
  }

  & .lofi {
    filter: saturate(1.1) contrast(1.5);
  }

  & .monochrome {
    filter: grayscale(1);
  }

}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-weight: 700;
  padding: 2px 4px;
  white-space: nowrap;
}

canvas {
  border: 0.2em var(--accent) solid;
}

.gradientheading {
  background: linear-gradient(45deg, var(--accent) 0%, var(--mark1) 25%, var(--mark2) 50%, var(--mark3) 75%, var(--accent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Turn cross-document view-transitions on */
/* https://developer.mozilla.org/en-US/docs/Web/API/View_Transition_API/Using */

@view-transition {
  navigation: auto;
}

/* Customize the default animation behavior */

::view-transition-group(root) {
  animation-duration: 0.5s;
}

/* Create a custom animation */

@keyframes move-out {
  from {
    transform: translateY(1%);
  }

  to {
    transform: translateY(99%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(-99%);
  }

  to {
    transform: translateY(1%);
  }
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;

}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}


ins {
  background-color: #e6ffe6;
  text-decoration: underline;
  color: #006400;
}

del {
  background-color: #ffe6e6;
  text-decoration: line-through;
  color: #8b0000;
}

@media (prefers-color-scheme: dark) {
  ins {
    background-color: #004000;
    color: #90ee90;
  }

  del {
    background-color: #400000;
    color: #ffb6b6;
  }
}
