@import '/chitch.css';

@font-face {
  font-family: 'Fira Code VF';
  src: url("http://cdn.chitch.org/woff2/FiraCode-VF.woff2") format('woff2-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}

:root {
  --monospace-font-stack: 'Fira Code VF', "Courier New", "Courier" monospace;
}

code {
  font-feature-settings: "calt" 1;
  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility;
  /* Force ligatures for Webkit, Blink, Gecko */
  font-family: 'Fira Code VF', monospace;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* //https://www.php.net/manual/en/tokens.php */

.T_OPEN_TAG,
.T_CLOSE_TAG {
  color: light-dark(#0000ff, #5c7fff);
  font-weight: bold;
}

.T_STRING,
.T_CONSTANT_ENCAPSED_STRING,
.T_ENCAPSED_AND_WHITESPACE {
  color: light-dark(#008000, #4dff4d);
}

.T_VARIABLE {
  color: light-dark(#ff0000, #ff4d4d);
  font-weight: 500;
}

.T_LNUMBER,
.T_DNUMBER,
.T_NUM_STRING {
  color: light-dark(#800080, #ff99ff);
}

.T_COMMENT,
.T_DOC_COMMENT {
  color: light-dark(#808080, #aaaaaa);
  font-style: italic;
}

.T_FUNCTION,
.T_FN {
  color: light-dark(#000080, #6699ff);
  font-weight: bold;
}

.T_CLASS,
.T_INTERFACE,
.T_TRAIT,
.T_ENUM {
  color: light-dark(#006666, #66cccc);
  font-weight: bold;
}

.T_IF,
.T_ELSE,
.T_ELSEIF,
.T_SWITCH,
.T_CASE,
.T_DEFAULT {
  color: light-dark(#660000, #ff6666);
  font-weight: bold;
}

.T_ECHO,
.T_PRINT,
.T_RETURN {
  color: light-dark(#996600, #ffcc66);
}

.T_NEW,
.T_CLONE {
  color: light-dark(#009999, #33ffff);
}

.T_USE,
.T_NAMESPACE,
.T_INCLUDE,
.T_REQUIRE {
  color: light-dark(#333399, #9999ff);
}

.T_BOOLEAN_AND,
.T_BOOLEAN_OR,
.T_LOGICAL_AND,
.T_LOGICAL_OR,
.T_LOGICAL_XOR {
  color: light-dark(#cc5500, #ffaa55);
}

.T_OPERATOR,
.T_IS_EQUAL,
.T_IS_NOT_EQUAL,
.T_IS_IDENTICAL,
.T_IS_NOT_IDENTICAL {
  color: light-dark(#222222, #dddddd);
}

.T_CONSTANT {
  color: light-dark(#004400, #00cc66);
}

.T_token-char {
  color: light-dark(#000000, #eeeeee);
}

.token-html {
  background-color: lightblue;
  font-style: italic;
}

.error {
  background: #ffebee;
  color: #d32f2f;
  padding: 10px;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
}
